/*
!/.?*
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.compiz/
.config/chromium/
.config/compiz-1/
.config/dconf/
.config/evolution/
.config/goa-1.0/
.config/gtk-2.0/
.config/gtk-3.0/
.config/htop/
.config/ibus/
.config/libaccounts-glib/
.config/libreoffice/
.config/nautilus/
.config/pulse/
.config/totem/
.config/unity/
.config/user-dirs.dirs
.config/user-dirs.locale
.dbus/
.dmrc
.gitconfig
.gnupg/
.k5login
.lesshst
.links2/
.local/
.mozilla/
.mysql_history
.nfs0000000b1035a00f00000002
.pki/
.plan
.python_history
.ssh/
.temp.txt.swp
.thunderbird/
.vim/.netrwhist
.viminfo
.xsession-errors
.xsession-errors.old

